/* theme color */
$--color-primary: #055AE5;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #F5365C;
$--color-info: #979797;
$--color-text-primary: rgba(5, 90, 229, 0.6);
$--color-white: #F8F9FE;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

/* constants */
$--vehicle-list-header-height: 212px;
$--el-switch-height: 45px;


/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';


@import '~element-ui/packages/theme-chalk/src/index';

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  primary: $--color-primary;
  success: $--color-success;
  warning: $--color-warning;
  danger: $--color-danger;
  white: $--color-white;
  info: $--color-info;
  textPrimary: $--color-text-primary;
  vehicleListHeaderHeight: $--vehicle-list-header-height;
  elSwitchHeight: $--el-switch-height;
}
