/* theme color */
$--color-primary: #219FD7;
$--color-success: #3D993D;
$--color-warning: #F9B218;
$--color-danger: #ff0022;
$--color-info: #979797;
$--color-white: #F8F9FE;


/* constants */
$--vehicle-list-header-height: 252px;
$--el-switch-height: 45px;
$--driver-list-header-height: 165px;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  //noinspection CssUnknownProperty
  primary: $--color-primary;
  //noinspection CssUnknownProperty
  success: $--color-success;
  //noinspection CssUnknownProperty
  warning: $--color-warning;
  //noinspection CssUnknownProperty
  danger: $--color-danger;
  //noinspection CssUnknownProperty
  white: $--color-white;
  //noinspection CssUnknownProperty
  info: $--color-info;
  //noinspection CssUnknownProperty
  textPrimary: $--color-text-primary;
  //noinspection CssUnknownProperty
  vehicleListHeaderHeight: $--vehicle-list-header-height;
  //noinspection CssUnknownProperty
  driverListHeaderHeight: $--driver-list-header-height;
  //noinspection CssUnknownProperty
  elSwitchHeight: $--el-switch-height;
}
